.points {
  width: 100px;
  max-width: 2000px;
  display: block;
  padding: 0 20px;
}

.tetris {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  margin: 0 auto;
  max-width: 900px;
}

.tetrisWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.startButton {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 20px;
  min-height: 30px;
  width: 100%;
  border-radius: 20px;
  border: none;
  color: white;
  background: #333;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.stage {
  display: grid;
  grid-gap: 1;
  border: 2px solid #333;
  width: 100%;
  max-width: 25vw;
  background: #111;
}

.display {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 20px;
  border: 4px solid #333;
  min-height: 30px;
  width: 100%;
  border-radius: 20px;
  background: #000;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.cell {
  width: auto,
}